@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: local("../fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: local("../fonts/Roboto-LightItalic.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: local("../fonts/Roboto-Black.ttf") format('truetype');
}

:root {
  --color-lightest: #F9FAF8; /* white-grey */
  --color-light: #E5E7EB; /* light-grey */
  --color-medium: #898A8D; /* grey */
  --color-bright: #3882F6; /* bright-blue */
  --color-dark: #1F2937; /* black-blue */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--color-dark);
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page__header {
  background-color: var(--color-dark);
}

.page__content {
  flex-grow: 1;
}

.page__footer {
  background-color: var(--color-dark);
}

.content-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__menu {
  display: flex;
  align-items: center;
}

.logo-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.logo-text {
  color: var(--color-lightest);
  font-size: 24px;
}

.menu-bar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item + .menu-item {
  margin-left: 16px;
}

.menu-link {
  text-decoration: none;
  color: var(--color-light);
}

.hero {
  display: flex;
  margin-top: 84px;
  margin-bottom: 84px;
}

.hero__text-area {
  flex-basis: 50%;
  padding-right: 24px;
}

.hero__img-area {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-medium);
  color: var(--color-light);
}

.hero-maintext {
  color: var(--color-lightest);
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-subtext {
  color: var(--color-light);
  margin-top: 0;
  margin-bottom: 12px;
}

.button {
  padding: 6px 24px 6px 24px;
  border-radius: 9px;
  color: var(--color-lightest);
  font-size: 18px;
}

.button_solid {
  background-color: var(--color-bright);
  border: none;
}

.button_ghost {
  background-color: transparent;
  border: 2px solid var(--color-lightest);
}

.section {
  padding-top: 36px;
  padding-bottom: 36px;
}

.section-highlighted {
  background-color: var(--color-light);
}

.section-heading {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}

.card {
  margin: 0;
  max-width: 300px;
}

.card__image {
  width: 100%;
}

.card__title {
  font-size: 24px;
  font-weight: 900;
}

.card__text {
  line-height: 1.25;
}

.quote {
  margin: 0;
}

.quote__text {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.quote__source {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 40px;
}

.call-to-action {
  background-color: var(--color-bright);
  border-radius: 9px;
  margin: auto;
  padding: 36px;
}

.call-to-action__text {
  line-height: 1.25;
}

.call-to-action__button {
  margin-top: 36px;
}

@media (min-width:600px) { 
  .gallery {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
  }
  .card {
    max-width: 250px;
  }
  .call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .call-to-action__button {
    margin-top: 0;
    margin-left: 72px;
  }
}

.cta-maintext {
  color: var(--color-lightest);
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 6px;
}

.cta-subtext {
  color: var(--color-light);
  margin-top: 0;
  margin-bottom: 6px;
}

.copyright {
  color: var(--color-light);
  text-align: center;
}